.header{
    margin-bottom: 30px;

}
.headerWrapper{
display: flex;
justify-content: space-between;
align-items: center;
padding-top: 10px;


}

.headerTitle{
font-size: 4.5rem;
color :#EC4399;

}

.headerBtnContainer{
display: flex;
gap: 20px;
}

.headerBtn{
width: 150px;
height: 50px;
font-size: 2rem;

}

@media (max-width: 650px){
    .headerWrapper{
        flex-direction: column;
        gap: 5px;
    }
    .headerBtnContainer{
        order: 1
    }
}