.message-wrapper {
    display: flex;
    justify-content: start;
}

.message-wrapper.myMessage {
    justify-content: end;
}

.message {
    width: 48%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: #dbdbee;
    padding: 0.3rem;
    color: var(--main-color);
}

.message_content {
    background-color: var(--bg-color);
    font-size: 1.5rem;
    padding: 0.3rem 1rem;
    overflow-wrap: anywhere;
}

.message_header {
    display: flex;
    justify-content: space-around;
}

.message_footer {
    text-align: right;
}
