@mixin flexC {
  display: flex;
  flex-direction: column;
}

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin cross {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #a83636;
  right: 0;
  transform: rotate(45deg);
}
