html {
    box-sizing: border-box;
    
}

*, *::after, *::before {
    box-sizing:inherit;
    margin: 0;
    padding: 0;
  }

a {
    text-decoration: none;
    color: #403F3D;
 }

 button {
    background-color: transparent;
    border:none;
    
 }

ul {
    list-style: none;
}

html {
    scroll-behavior: smooth;
}


html, body {
    height: 100%
}

body {
    background-color: #E1D4C9;
    font-family: 'Inter', sans-serif;
    color: #403F3D;
    
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 0 40px;
    
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 40px;
}

.header {
    margin-bottom: 20px;
    position: relative;
    z-index: 6;
}

.accent-text {
    color:#B0907A;
    font-style: italic;
    
}



.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo{
    position: relative;
    z-index: 10;
}

.logo__img {
    display: block;
}

.burger, .burger__menu-link, .burger__link-item  {
    display: none;
}


.menu__list {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.menu__list-link,
.link-text,
.tabs__btn-item   {
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
   }

.menu__list-item {
    position: relative;
}

.header__menu-link {
    display: flex;
    text-align: center;
    justify-content: space-between;
    min-width: 72px;
    position: relative;
    pointer-events: none;
}

.header__menu-link:after,
.menu__list-item::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #403F3D;
   
}

.menu__list-item::after {
    opacity: 0;
    transform: scaleX(0);
    transition: all 0.5s ease-out;
}




.menu__link-img{
    max-width: 20px;
    max-height: 20px;
}

.main {
    flex-grow: 1;
}


.title-menu {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.tabs {
    margin-bottom: 98px;
}

.tabs__btn {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    gap: 16px;
}

.tabs__btn-item,.modal__item-btn  {
    color: #403F3D;
    cursor: pointer;
    border-radius: 100px;
    border: 1px solid #C1B6AD;
    display: inline-flex;
    gap: 8px;
    align-items: center;
    padding: 7px 16px 7px 7px;
    transition: all, 0.5s;
}



.tabs__btn-item--active, .modal__item-btn--active  {
    background-color: #665F55;
    color: #E1D4C9;
    border: 1px solid #665F55;
    pointer-events: none;
}

.btn-img-wrapper {
    border-radius: 100%;
    background-color: #C1B6AD;
    padding: 3px 7px;
    display: flex;
    align-items: center;
    height: 30px;
}

.tabs__content-item{
    display: none;
}
.tabs__content-item.show{
    
    flex-wrap: wrap;
    gap: 38px 40px;
    justify-content: center;
}

.hidden{
    display: none;
}

.show{
    display: flex;
}

.item-card {
    border: 1px solid #C1B6AD;
    border-radius: 40px;
    overflow: hidden;
    width: 310px;
    
}

.img-wrapper {
    height: 310px;
    overflow: hidden;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-card__img {
    transition: transform, 0.5s;
}


.item-card__descr {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
    height: 196px;

}

.section-title {
    font-size: 60px;
    font-weight: 600;
    line-height: 125%;
    padding-bottom: 40px;
}

.section-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    flex-grow: 1;
}

.item-title,
.item-price {
    font-size: 24px;
    font-weight: 600;
    line-height: 125%;
}

.add-btn {
    display: none;
}


.footer__inner {
    background-color: #665F55;
    border-radius: 40px;
    color: #E1D4C9;
    padding: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
}

.socials__list {
    display: flex;
    gap: 12px;
}

.socials__list-link {
    display: block;
    border-radius: 100%;
    transition: all, 0.5s;
}



.socials__img {
    display: block;
    
}

.socials__img-circ,
.socials__img-path {
    transition: all, 0.5s;
}



.contacts {
    display: flex;
    align-items: center;
}



.contacts__title {
    font-size: 24px;
    font-weight: 600;
    line-height: 125%;
    margin-bottom: 24px;
}

.contacts__list-item+.contacts__list-item{
    padding-top: 16px;
}


.contacts__list-link,
.contacts__list  {
    color: #E1D4C9;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    position: relative;
    
}


.contacts__list-link:after {
    content:"";
    position: absolute;
    left: -28px;
    bottom: -2px;
    height: 2px;
    width: 120%;
    background-color:#E1D4C9;
    transform: scaleX(0);
    opacity: 0;
    transition: all, 0.5s;
    
    
}



.contacts__list-adress::before {
    content: url(../images/pin-adress.svg);
    margin-right: 8px;
}
.contacts__list-phone::before {
    content: url(../images/phone.svg);
    margin-right: 8px;
}
.contacts__list-hours::before {
    content: url(../images/clock.svg);
    margin-right: 8px;
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color:rgba(64, 63, 61, 0.80);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal button {
   color: #403F3D;
   font-size: 16px;
   font-weight: 600;
   line-height: 150%;
   
}

.modal__inner {
    width: 800px;
    display: flex;
    gap: 20px;
    background-color: #E1D4C9;
    padding: 16px;
    border-radius: 40px;
}

.modal-img {
    display: flex;
    align-items: start;
}

.modal-img__wrapper {
    max-width: 310px;
    max-height: 310px;
    overflow: hidden;
    border-radius:40px;
}

.modal-content {
    display: flex;
    gap: 20px;
    flex-direction: column;
   
}

.modal-title {
    margin-bottom: 12px;
}

.modal__item-btn+.modal__item-btn{
    margin-left: 8px;
}

h5 {
    margin-bottom: 8px;
}

.choose {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius:100%;
    background-color:#C1B6AD;
    padding: 3px;;
}

.item__total {
    position: relative;
    display: flex;
    justify-content: space-between;
    
}

.item__total::after {
    content: '';
    position: absolute;
    bottom: -14px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #C1B6AD;
}

.warning {
    padding: 12px 0 12px 24px;
    font-size: 10px;
    font-weight: 600;
    line-height: 140%;
    position: relative;
}

.warning::before {
    content: "i";
    display: block;
    text-align: center;
    width: 16px;
    height: 16px;
    border: 2px solid #403F3D;
    border-radius: 100%;
    position: absolute;
    top: 12px;
    left: 0;
}

.close-modal {
    padding: 10px 78px;
    width: 100%;
    border: 1px solid #665F55;
    border-radius:100px;
}

@media (hover: hover) {
    .menu__list-item:hover:after {
        transform: scaleX(1);
        opacity: 1;
    }

    .tabs__btn-item:hover {
        background-color: #665F55;
        color: #E1D4C9;
        border: 1px solid #665F55;
    }

    .item-card:hover .item-card__img {
        transform: scale(0.91);
    }
    

    .socials__list-link:hover .socials__img-circ {
        stroke: #E1D4C9;
    }
    
    .socials__list-link:hover .socials__img-path {
        stroke: #403F3D;
    }

    .socials__list-link:hover {
        background-color:#E1D4C9;
    }

    .contacts__list-link:hover:after {
        transform: scaleX(1);
        opacity: 1;
    }
} 

@media (max-width: 1000px) {
    .top__inner, .footer__inner {
        padding: 100px 80px;
    }
}

@media (max-width: 950px) {
    .footer__inner {
        display: block;
    }

    .socials {
        margin-bottom: 100px;
    }
    
}





@media (max-width: 768px) {
    .header__menu-link {
        display: none;
    }

    .hideCard{
        display: none;
    }


    .menu__list {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        padding-top: 140px;
        background: #E1D4C9;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.7s;
       
    }


     .menu__list.menu__list--active{
        transform: translateX(0);
        z-index: -1;
       }


    .menu__list-link {
        font-size: 32px;
        font-weight: 600;
        line-height: 125%;
    }


    .burger {
        display: block;
        position: relative;
        width: 44px;
        height: 44px;
        border-radius: 100%;
        border: 1px solid #665F55;
           }

    .burger-line {
        display: block;
        position: absolute;
        top: 17px;
        left: 13px;
        width: 16px;
        height: 1.5px;
        background-color: #403F3D;
        border-radius:100px;
        transition: transform 0.3s;
    }

    .burger-line::before {
        content: "";
        display: block;
        position: absolute;
        top: 8px;
        width: 16px;
        height: 1.5px;
        background-color: #403F3D;
        border-radius:100px;
        transition: transform 0.3s;

    }

    
    .burger.burger--active>.burger-line{
        transform: rotate(45deg) translate(2px, 2px);

    }

    .burger.burger--active>.burger-line::before{
        transform: rotate(-90deg) translate(8px, 0px);
    }

    .burger__link-item, .burger-link {
        display: block;
    }
        

    .burger-link{
        pointer-events: auto;
        cursor: default;
    }
    
    .burger-link-item {
        margin-top: 30px;
    }

    .burger-link>.link-text {
        font-size: 32px;
        font-weight: 600;
        line-height: 125%;
    }

    .burger-cup {
        display: inline-block;
        background-image: url(../coffee-cup.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 40px;
        width: 40px;
    }

   

    .tabs__content {
        padding: 0 14px;
        margin-bottom: 40px;
    }

    .hidden {
        display: none;
    }

  

    .add-btn--activ {
        display: block;
        width: 60px;
        height: 60px;
        border-radius: 100%;
        border: 1px solid #665F55;
        margin: 0 auto;
        cursor: pointer;
    }

    .socials {
        margin-bottom: 103px;
    }


    .footer__inner{
        padding: 100px 60px;
        
    }
}


@media (max-width: 647px) {
    .footer__inner {
       padding: 80px 40px;
   }

   .section-title {
       font-size: 45px;
   }
   

}

@media (max-width: 380px) {
    .container {
        padding: 0 16px;
    }

    .section-title {
        font-size: 32px;
    }

    .tabs__btn {
        gap: 8px;
    }

    .tabs__content {
        padding: 0 19px;
        
    }

    .footer__inner {
        padding: 60px 16px;
    }

    .socials {
        margin-bottom: 40px;
    }
}
