html {
    box-sizing: border-box;
    
}

*, *::after, *::before {
    box-sizing:inherit;
    margin: 0;
    padding: 0;
  }

a {
    text-decoration: none;
    color: #403F3D;
 }

 button {
    background-color: transparent;
    border: none;
    cursor: pointer;
 }

ul {
    list-style: none;
}

html {
    scroll-behavior: smooth;
}


html, body {
    height: 100%
}

body {
    background-color: #E1D4C9;
    font-family: 'Inter', sans-serif;
    color: #403F3D;
    
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 0 40px;
    
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 40px;
}

.header {
    margin-bottom: 20px;
    position: relative;
    z-index: 6;
}

.accent-text {
    color:#B0907A;
    font-style: italic;
}

.section-title {
    font-size: 60px;
    font-weight: 600;
    line-height: 125%;
    padding-bottom: 40px;
}

.section-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

.slider__item-descr .section-text {
    max-width: 480px ;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.burger, .burger__menu-link, .burger__link-item {
    display: none;
}



.logo {
    pointer-events: none;
    position: relative;
    z-index: 10;
}

.logo__img {
    display: block;
       
}


.menu__list {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.menu__list-link,
.link-text,
.app__item-name   {
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
   }

.menu__list-item {
    position: relative;
}

.header__menu-link {
    display: flex;
    text-align: center;
    justify-content: space-between;
    min-width: 72px;
    position: relative;
}

.header__menu-link:after,
.menu__list-item::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #403F3D;
    opacity: 0;
    transform: scaleX(0);
    transition: all 0.5s ease-out;
}



.menu__link-img{
    max-width: 20px;
    max-height: 20px;
}

.main {
    flex-grow: 1;
}

.top {
    margin-bottom: 100px;
}

.top__inner {
    position: relative;
    border-radius: 40px;
    overflow: hidden;
    padding: 100px;
    /* background-image: url(../images/img-hero.jpg);
    background-position: center;
    background-size: cover; */
    }

.top__video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: cover;
       
}

.top__enjoy{
    max-width: 530px;
    position: relative;
    z-index: 5;
    color: #E1D4C9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
}

.top__enjoy-title {
    font-size: 72px;
    font-weight: 600;
    line-height: 105%;
    }

.top__enjoy-link {
    display: inline-block;
    width: 200px;
    padding: 20px 78px;
    background-color:#E1D4C9;
    border-radius: 100px;
    position: relative;
    transition: padding, 0.5s;
}

.link-text {
    display: inline-block;
    transition: transform, 0.5s;
}




.top__enjoy-link:after {
    content:url(../coffee-cup.svg);
    position: absolute;
    opacity: 0;
    transition: opacity, 0.5s;
    
}



.slider{
    margin-bottom: 100px;
}

.slider .section-title{
    text-align: center;
}

.slider__inner{
    position: relative;
    /* padding: 0 104px; */
}

.slider__prev, 
.slider__next {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    transition: all, 0.5s;
    z-index: 1;
    
}

.slider__prev{
    left: 4px;
    top: 290px;
}

.slider__next{
    right: 4px;
    top: 290px;
}

.slider__prev-arrow, 
.slider__next-arrow
 {
    transition: all, 0.5s;
}


.slider__wrapper {
    overflow: hidden;
    margin: 0 auto 40px;
    max-width: 480px;
    
}

.slider-content {
    /* width: 300%; */
    display: flex;
    transition: transform 1s;
}

.slider__item,
.slider__item-descr {
    display: flex;
    flex-direction: column;
    align-items:center;
}

.slider__item {
    margin: 0 auto;
    gap: 20px;
}

.slider__item-descr {
    gap: 16px;
}

.slider__item-descr .section-text{
    text-align: center;
}

.item-title,
.item-price {
    font-size: 24px;
    font-weight: 600;
    line-height: 125%;
}

.slider__control{
    display: flex;
    justify-content: center;
    gap: 12px;
}

.slider__control-btn {
    width: 40px;
    height: 4px;
    border-radius: 100px;
    background-color: #C1B6AD;
    position: relative;
    overflow: hidden;
    
    
}

@keyframes progress {
    0% {width: 0;}
    100%{width: 100%;}
   
}

.progress {
    display: block;
    background-color:#665F55; 
    height: 100%;
    width: 0;
    
}


.progress.progress--active {
    animation: progress 7s linear;
}




.about {
    margin-bottom: 100px;
}

.about__img-wrapper {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 430px 120px 430px;
}

.about__img {
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.about__cell1 {
    grid-row: 1/3;
}

.about__cell2 {
    grid-row-start: 1;
}

.about__cell3 {
    grid-row-end: -1;
}

.about__cell4 {
    grid-row: 2/-1;
}

.about__img-content {
    transition: transform 0.5s;
    
}



.app {
    margin-bottom: 100px;
}

.app__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    
}


.app__content {
    display: flex;
    align-items: center;
}

.app__list {
    margin-top: 40px;
    display: flex;
    /* justify-content: start; */
    gap: 20px;
}

.app__list-link {
    display: flex;
    align-items: center;
    width: 200px;
    border-radius:100px;
    border: 1px solid #403F3D;
    padding: 12px 20px;
    gap: 8px;
}

.app__list-link,
.app__item-img,
.app__item-inner {
    transition: all, 0.8s;
}



.app__item-text {
    font-size: 10px;
    font-weight: 600;
    line-height: 140%;
}

.app-img {
    display: block;
    max-width: 100%;
}

.footer__inner {
    background-color: #665F55;
    border-radius: 40px;
    color: #E1D4C9;
    padding: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
}

.socials__list {
    display: flex;
    gap: 12px;
}

.socials__list-link {
    display: block;
    border-radius: 100%;
    transition: all, 0.5s;
}



.socials__img {
    display: block;
    
}

.socials__img-circ,
.socials__img-path {
    transition: all, 0.5s;
}



.contacts {
    display: flex;
    align-items: center;
}



.contacts__title {
    font-size: 24px;
    font-weight: 600;
    line-height: 125%;
    margin-bottom: 24px;
}

.contacts__list-item+.contacts__list-item{
    padding-top: 16px;
}


.contacts__list-link,
.contacts__list  {
    color: #E1D4C9;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    position: relative;
    
}


.contacts__list-link:after {
    content:"";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 100%;
    background-color:#E1D4C9;
    transform: scaleX(0);
    opacity: 0;
    transition: all, 0.5s;
    
    
}



.contacts__list-adress::before {
    content: url(../images/pin-adress.svg);
    margin-right: 8px;
}
.contacts__list-phone::before {
    content: url(../images/phone.svg);
    margin-right: 8px;
}
.contacts__list-hours::before {
    content: url(../images/clock.svg);
    margin-right: 8px;
}


@media (hover: hover) {
    .header__menu-link:hover:after,
    .menu__list-item:hover:after {
        transform: scaleX(1);
        opacity: 1;
    }

    .top__enjoy-link:hover > .link-text {
        transform: translateX(-8px);
    }

    .top__enjoy-link:hover:after {
        opacity: 1;
    }

    .slider__prev:hover .slider__prev-arrow, 
    .slider__next:hover .slider__next-arrow {
        stroke: #E1D4C9;
    }

    .slider__prev:hover, 
    .slider__next:hover {
    background-color: #665F55;
    }

    .about__img:hover .about__img-content{
        transform: scale(0.91);
    }

    .app__list-link:hover {
        background-color: #665F55;
        border: 1px solid #665F55;
    }
    
    .app__list-link:hover .app__item-img {
        fill: #E1D4C9 ;
    }
    
    .app__list-link:hover .app__item-inner {
        color:#E1D4C9;
    }

    .socials__list-link:hover .socials__img-circ {
        stroke: #E1D4C9;
    }
    
    .socials__list-link:hover .socials__img-path {
        stroke: #403F3D;
    }

    .socials__list-link:hover {
        background-color:#E1D4C9;
    }

    .contacts__list-link:hover:after {
        transform: scaleX(1);
        opacity: 1;
    }
} 

@media (max-width: 1000px) {
    .top__inner, .footer__inner {
        padding: 100px 80px;
    }
}

@media (max-width: 950px) {
    .about__img-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .app__inner, .footer__inner {
        display: block;
    }

    .app__content-inner, .socials {
        margin-bottom: 100px;
    }
    
}

@media (max-width: 768px) {
    .header__menu-link {
        display: none;
    }

   

    .menu__list {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        padding-top: 140px;
        background: #E1D4C9;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.7s;
       
    }

  

     .menu__list.menu__list--active{
        transform: translateX(0);
        z-index: -1;
       }

     

    .menu__list-link {
        font-size: 32px;
        font-weight: 600;
        line-height: 125%;
    }

    .burger {
        display: block;
        position: relative;
        width: 44px;
        height: 44px;
        border-radius: 100%;
        border: 1px solid #665F55;
           }

    .burger-line {
        display: block;
        position: absolute;
        top: 17px;
        left: 13px;
        width: 16px;
        height: 1.5px;
        background-color: #403F3D;
        border-radius:100px;
        transition: transform 0.3s;
    }

    .burger-line::before {
        content: "";
        display: block;
        position: absolute;
        top: 8px;
        width: 16px;
        height: 1.5px;
        background-color: #403F3D;
        border-radius:100px;
        transition: transform 0.3s;

    }

    .burger.burger--active>.burger-line{
        transform: rotate(45deg) translate(2px, 2px);

    }

    .burger.burger--active>.burger-line::before{
        transform: rotate(-90deg) translate(8px, 0px);
    }

    .burger__link-item, .burger-link {
        display: block;
    }
    
    .burger-link-item {
        margin-top: 30px;
    }

    .burger-link>.link-text {
        font-size: 32px;
        font-weight: 600;
        line-height: 125%;
    }

    .burger-cup {
        display: inline-block;
        background-image: url(../coffee-cup.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 40px;
        width: 40px;
    }

    

   
    
    .top__inner, .footer__inner {
        padding: 100px 60px;
    }

    .top__enjoy-link{
        padding-left: 64px;
    }

    .link-text {
        margin-right: 9px;
    }
    .top__enjoy-link:after{
        opacity: 1;
    }

    .top__enjoy-link:hover > .link-text {
        transform: none;
    }

    .slider__next {
        right: 0;
    }

    .slider__prev {
        left: 0;
    }


    .slider__item-img {
        max-width: 100%;
    }



    .about__cell2, .about__cell3 {
        display: none;
    }

    .about__img {
        width: 100%;
        height: 590px;
    }

    .app__img-wrapper {
        padding-left: 29px;
    }

 }


 @media (max-width: 647px) {
    .top__enjoy-title {
        font-size: 57px;
        line-height: 115%;
    }

    .top__inner, .footer__inner {
        padding: 80px 40px;
    }

    .section-title {
        font-size: 45px;
    }

    .slider__prev, .slider__next {
        display: none;
    }


}


 @media (max-width: 496px) {
    
    .app__content {
        display: block;
    }

    .app__list {
        flex-direction: column;
    }
 }


@media (max-width: 380px) {
    .container {
        padding: 0 16px;
    }

    .top__enjoy-title {
        font-size: 42px;
        line-height: 115%;
    }

    .top__inner, .footer__inner {
        padding: 60px 16px;
    }

    .section-title {
        font-size: 32px;
    }


   
    .app__content-inner, .socials {
        margin-bottom: 40px;
    }

    .app__img-wrapper {
        padding: 0;
    }
   

}



