@font-face {
       font-family: "Barbi"; 
    
    src: 
    url(ff71abf22ec038842985.woff) format("woff2"),
     url(a2467c907b6a8b90a74d.woff2) format("woff"),
     url(c0cf520d49de71b490c5.ttf) format("truetype") 
   
  } 

html {
    box-sizing: border-box;
    font-size: 10px;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}

button {
    cursor: pointer;
    background: transparent;
    text-transform: uppercase;
    border: none;
}

body{
    font-family: 'Barbi', sans-serif;
    background-color: blanchedalmond;
    height: 100vh;
    color: #EC4399
}


.wrapper{
    margin: 0 auto;
    padding: 0 30px;
    max-width: 1400px;
}
.hidden{
    display: none;
}

.btn{
    border: 1px solid #EC4399;
    font-size: 1.5rem;
    padding: 0 5px;
    border-radius: 20%;
    color: white;
    text-shadow: 1px 1px 5px #EC4399;
    transition: all 0.7s;
}



.btn:hover{
    color: #EC4399;
    text-shadow: 1px 1px 2px #503030;
}

.disable{
    pointer-events: none;
}

.disable>.btn, .disable.btn{
    text-shadow: none;
    color:#beb5b5;
    border: 1px solid #beb5b5
}
.header{
    margin-bottom: 30px;

}
.headerWrapper{
display: flex;
justify-content: space-between;
align-items: center;
padding-top: 10px;


}

.headerTitle{
font-size: 4.5rem;
color :#EC4399;

}

.headerBtnContainer{
display: flex;
gap: 20px;
}

.headerBtn{
width: 150px;
height: 50px;
font-size: 2rem;

}

@media (max-width: 650px){
    .headerWrapper{
        flex-direction: column;
        gap: 5px;
    }
    .headerBtnContainer{
        order: 1
    }
}
.winCarImg{
    width: 20px;
    height: 20px;
}

.wintable{
    width: 500px;
    text-align: center;
    font-size: 3rem;
}
.carOptions{
    display: flex;

gap: 10px;
align-items: center;
min-width: 80px
}

.carManage{
    display: flex;
   
    gap: 5px;
}

.carName{
    font-size: 2rem;
    border: 1px solid #EC4399;
    border-radius: 20%;
    padding: 0 5px;
}

.carManageBtn{
    font-size: 1.5rem;
    padding: 0 5px;
    
}

.raceBtnContainer{
    display: flex;
    gap: 5px;
}

.raceBtn{
    border: 1px solid black;
    border-radius: 100%;
    width: 25px;
    height: 25px;
}

.raceBtn.disable{
    opacity: 0.5;
}

.startBtn{
    background-color: #207320
}

.stopBtn{
    background-color: #c34444
}
.car{
   
    width: 80px;
    height: 80px;
}

.baloon {
    opacity: 1;
    transition: all 5s ease;
}

.baloon.hide {
    opacity: 0;
    transform: translate3d(42px, -62px, -135px);
    
}
.carContainer{

    margin-bottom: 10px;
    padding:0 10px;
    display: flex;
    flex-direction: column;
    position: relative;
 background: url(4d90eda7c16302049294.png);
 background-position: 0px 43px;
    background-size: contain;
    background-repeat: repeat-x;

   
}

.imgFinish{
    width: 70px;
    height: 90px;
    position: absolute;
    right: 10%;
    transform: rotateY(25deg);
    bottom: 15px;
}


.title{
font-size: 2.8rem;
color: white;
    text-shadow: 1px 1px 2px #EC4399;
    margin-bottom: 15px;
}

.pageNumber{
    font-size: 2rem;
 }
.inputField{
    border: none;
    background-color: transparent;
}

.textInput{
    font-family: 'Barbi', sans-serif;
    font-size: 2.2rem;
}

.textInput:focus{
outline: none;
}

.colorInput::-webkit-color-swatch {
   cursor: pointer;
   border-radius: 20%;
  
}
.garageOption{
    margin-bottom: 20px;
}
.inputOptionsContainer{
    border: 1px solid #EC4399;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    padding-left: 5px;
    
}
.inputOptionsContainer:focus-within{
    border: 1px solid red
}
.option {
    display: flex;
    margin-bottom: 10px;
    gap: 10px
}
.pagination{
   
    margin-bottom: 10px;
}

.paginationPage{
font-size: 1.5rem;
margin: 0 10px;
}


.raceOption{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    border: 1px solid;
    height: 200px;
    width: 400px;
    font-size: 3rem;
    background: blanchedalmond;
    border-radius: 10px;
  
}

.modalText{
    text-align: center;
}

/*# sourceMappingURL=styles.css.map*/