.carContainer{

    margin-bottom: 10px;
    padding:0 10px;
    display: flex;
    flex-direction: column;
    position: relative;
 background: url('../../../../assets/images/44.png');
 background-position: 0px 43px;
    background-size: contain;
    background-repeat: repeat-x;

   
}

.imgFinish{
    width: 70px;
    height: 90px;
    position: absolute;
    right: 170px;
    transform: rotateY(25deg);
    bottom: 15px;
}