:root {
    --main-color: #5e3b7e;
    --main-border: 1px solid #b69cce;
    --bg-color: #eeeeee;
}

html {
    box-sizing: border-box;
    font-size: 10px;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    scrollbar-width: thin;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}

button {
    cursor: pointer;
    background: transparent;
    text-transform: uppercase;
    border: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

input {
    background-color: var(--bg-color);
}

@media (max-width: 600px) {
    html {
        font-size: 8px;
    }
    .page {
        width: auto;
    }
}

@media (max-width: 450px) {
    .chat {
        flex-direction: column;
        justify-content: start;
    }
    .contacts {
        width: 100%;
        max-height: 150px;
    }
    .dialog {
        width: 100%;
        flex-grow: 1;
    }
}
