@font-face {
       font-family: "Barbi"; 
    
    src: 
    url('./assets/fonts/barbie-5.woff') format("woff2"),
     url('./assets/fonts/barbie-5.woff2') format("woff"),
     url('./assets/fonts/barbie-5.ttf') format("truetype") 
   
  } 

html {
    box-sizing: border-box;
    font-size: 10px;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}

button {
    cursor: pointer;
    background: transparent;
    text-transform: uppercase;
    border: none;
}

body{
    font-family: 'Barbi', sans-serif;
    background-color: blanchedalmond;
    height: 100vh;
    color: #EC4399
}


.wrapper{
    margin: 0 auto;
    padding: 0 30px;
    max-width: 1400px;
}
.hidden{
    display: none;
}

.btn{
    border: 1px solid #EC4399;
    font-size: 1.5rem;
    padding: 0 5px;
    border-radius: 20%;
    color: white;
    text-shadow: 1px 1px 5px #EC4399;
    transition: all 0.7s;
}



.btn:hover{
    color: #EC4399;
    text-shadow: 1px 1px 2px #503030;
}

.disable{
    pointer-events: none;
}

.disable>.btn{
    text-shadow: none;
    color:#beb5b5;
    border: 1px solid #beb5b5
}