@font-face {
       font-family: "Barbi"; 
    
    src: 
    url('./assets/fonts/barbie-5.woff') format("woff2"),
     url('./assets/fonts/barbie-5.woff2') format("woff"),
     url('./assets/fonts/barbie-5.ttf') format("truetype") 
   
  } 

html {
    box-sizing: border-box;
    font-size: 10px;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}

button {
    cursor: pointer;
    background: transparent;
    text-transform: uppercase;
    border: none;
}

body{
    font-size: 3rem;
    font-family: 'Barbi', sans-serif;
}