.contacts {
    border: var(--main-border);
    width: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1.5rem;
    color: var(--main-color);
    font-size: 1.8rem;
}

.contacts_search {
    outline: none;
    border: none;
    border-bottom: var(--main-border);
    padding-left: 0.5rem;
    font-size: 1.8rem;
    margin-bottom: 2.5rem;
}

.contacts_list {
    text-align: left;
    padding-left: 10px;
    overflow-y: scroll;
}

.list_item {
    margin-bottom: 0.7rem;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 0.5rem;
}

.list_item::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -10px;
    transform: translateY(-50%);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: black;
    background-color: #d32b2b;
}

.list_item.active::before {
    background-color: green;
}

.list_item-mes {
    font-size: 1.5rem;

    border-radius: 30px;
    background-color: var(--main-color);
    color: whitesmoke;
}
