.carOptions{
    display: flex;

gap: 10px;
align-items: center;
min-width: 80px
}

.carManage{
    display: flex;
   
    gap: 5px;
}

.carName{
    font-size: 2rem;
    border: 1px solid #EC4399;
    border-radius: 20%;
    padding: 0 5px;
}

.carManageBtn{
    font-size: 1.5rem;
    padding: 0 5px;
    
}

.raceBtnContainer{
    display: flex;
    gap: 5px;
}

.raceBtn{
    border: 1px solid black;
    border-radius: 100%;
    width: 25px;
    height: 25px;
}

.raceBtn.disable{
    opacity: 0.5;
}

.startBtn{
    background-color: #207320
}

.stopBtn{
    background-color: #c34444
}