.dialog_header {
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
    color: var(--main-color);
    min-height: 27px;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 1rem;
}

.dialog_header-status {
    color: rgb(129, 13, 13);
}

.active > .dialog_header-status {
    color: green;
}
