@mixin flexC {
  display: flex;
  flex-direction: column;
}

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin cross {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #a83636;
  right: 0;
  transform: rotate(45deg);
}

$borderS: 1px solid black;
$borderM: 2px solid black;
$text-color: #795548;
$bg-color: rgba(245, 237, 229, 0.9);
$bg: url('../assets/images/iaponii-9.jpg');

$text-color-dark: #c1d6f4;
$bg-color-dark: rgba(31, 37, 51, 0.9);
$borderS-dark: 1px solid white;
$borderM-dark: 2px solid white;
$bg-dark: url('../assets/images/darc-bg.jpg');
