@mixin flexC {
  display: flex;
  flex-direction: column;
}

$borderS: 1px solid black;
$borderM: 2px solid black;
$text-color: #795548;
$bg-color: rgba(245, 237, 229, 0.9);
$bg: url('../images/iaponii-9.jpg');

$text-color-dark: #c1d6f4;
$bg-color-dark: rgba(31, 37, 51, 0.9);
$borderS-dark: 1px solid white;
$borderM-dark: 2px solid white;
$bg-dark: url('../images/darc-bg.jpg');
