@import './abstract';

@container style(--theme: dark) {
  .top-hints,
  .top-hints .top-hint,
  .left-hints,
  .left-hints .left-hint,
  .ceil {
    border: $borderS-dark;
  }

  td:nth-child(5n + 5):not(:last-child),
  .top-hint:nth-child(5n + 5):not(:last-child) {
    border-right: $borderM-dark;
  }
  tr:nth-child(5n + 5):not(:last-child),
  .left-hint:nth-child(5n + 5):not(:last-child) {
    border-bottom: $borderM-dark;
  }

  table {
    border: $borderM-dark;
  }
  a,
  body,
  .btn,
  .instruction-link {
    color: $text-color-dark;
  }

  .modal svg {
    fill: $text-color-dark;
  }

  .screen .btn {
    border: 3px solid $text-color-dark;
    box-shadow: inset 0 0 20px $text-color-dark;
    &:hover {
      box-shadow: inset 15px 15px 40px $text-color-dark;
    }
  }

  .modal-img {
    border: 2px solid $text-color-dark;
    box-shadow: 0 0 20px $text-color-dark;
  }

  #level-items {
    border: 3px solid $text-color-dark;
    background: rgb(31, 37, 51);
  }

  .modal {
    background-color: rgb(31, 37, 51);
  }

  .top-hints,
  .left-hints,
  table {
    background: rgba(97, 93, 66, 0.9);
  }
  .header {
    background: $bg-color-dark;
  }
  body {
    background-image: $bg-dark;
  }

  .instruction-link:hover,
  .header .btn:hover {
    color: #8840a8;
  }

  .ceil--fill {
    background-color: rgb(177 194 202);
  }
}
