@import './abstract';

html {
  box-sizing: border-box;
  font-size: 10px;
  @media (max-width: 768px) {
    font-size: 8px;
  }
  @media (max-width: 690px) {
    font-size: 6.5px;
  }
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $text-color;
  text-transform: uppercase;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  background: transparent;
  text-transform: uppercase;
  border: none;
}

body {
  color: $text-color;
  font-family: 'Shippori Mincho', serif;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  background-image: $bg;
  background-size: cover;
  background-repeat: no-repeat;
}
